@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/fonts/icomoon.eot?mzjfic');
  src: url('../fonts/icomoon/fonts/icomoon.eot?mzjfic#iefix') format('embedded-opentype'), url('../fonts/icomoon/fonts/icomoon.ttf?mzjfic') format('truetype'), url('../fonts/icomoon/fonts/icomoon.woff?mzjfic') format('woff'), url('../fonts/icomoon/fonts/icomoon.svg?mzjfic#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-amp:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-europe:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-pinterest:before {
  content: "\e908";
}
.icon-shield:before {
  content: "\e909";
}
.icon-stars:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-bottom:before {
  content: "\e921";
}
.icon-right:before {
  content: "\e91f";
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineueblack.eot');
  src: url('../fonts/UniNeue/unineueblack.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineueblack.woff2') format('woff2'), url('../fonts/UniNeue/unineueblack.woff') format('woff'), url('../fonts/UniNeue/unineueblack.ttf') format('truetype'), url('../fonts/UniNeue/unineueblack.svg#uni_neueblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineueblack-italic.eot');
  src: url('../fonts/UniNeue/unineueblack-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineueblack-italic.woff2') format('woff2'), url('../fonts/UniNeue/unineueblack-italic.woff') format('woff'), url('../fonts/UniNeue/unineueblack-italic.ttf') format('truetype'), url('../fonts/UniNeue/unineueblack-italic.svg#uni_neueblack_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineuebold.eot');
  src: url('../fonts/UniNeue/unineuebold.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineuebold.woff2') format('woff2'), url('../fonts/UniNeue/unineuebold.woff') format('woff'), url('../fonts/UniNeue/unineuebold.ttf') format('truetype'), url('../fonts/UniNeue/unineuebold.svg#uni_neuebold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineuebold-italic.eot');
  src: url('../fonts/UniNeue/unineuebold-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineuebold-italic.woff2') format('woff2'), url('../fonts/UniNeue/unineuebold-italic.woff') format('woff'), url('../fonts/UniNeue/unineuebold-italic.ttf') format('truetype'), url('../fonts/UniNeue/unineuebold-italic.svg#uni_neuebold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineuebook.eot');
  src: url('../fonts/UniNeue/unineuebook.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineuebook.woff2') format('woff2'), url('../fonts/UniNeue/unineuebook.woff') format('woff'), url('../fonts/UniNeue/unineuebook.ttf') format('truetype'), url('../fonts/UniNeue/unineuebook.svg#uni_neuebook') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/UniNeueBook-Italic.eot');
  src: url('../fonts/UniNeue/UniNeueBook-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/UniNeueBook-Italic.woff2') format('woff2'), url('../fonts/UniNeue/UniNeueBook-Italic.woff') format('woff'), url('../fonts/UniNeue/UniNeueBook-Italic.ttf') format('truetype'), url('../fonts/UniNeue/UniNeueBook-Italic.svg#UniNeueBook-Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineueheavy.eot');
  src: url('../fonts/UniNeue/unineueheavy.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineueheavy.woff2') format('woff2'), url('../fonts/UniNeue/unineueheavy.woff') format('woff'), url('../fonts/UniNeue/unineueheavy.ttf') format('truetype'), url('../fonts/UniNeue/unineueheavy.svg#uni_neueheavy') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineueheavy-italic.eot');
  src: url('../fonts/UniNeue/unineueheavy-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineueheavy-italic.woff2') format('woff2'), url('../fonts/UniNeue/unineueheavy-italic.woff') format('woff'), url('../fonts/UniNeue/unineueheavy-italic.ttf') format('truetype'), url('../fonts/UniNeue/unineueheavy-italic.svg#uni_neueheavy_italic') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineuelight.eot');
  src: url('../fonts/UniNeue/unineuelight.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineuelight.woff2') format('woff2'), url('../fonts/UniNeue/unineuelight.woff') format('woff'), url('../fonts/UniNeue/unineuelight.ttf') format('truetype'), url('../fonts/UniNeue/unineuelight.svg#uni_neuelight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineuelight-italic.eot');
  src: url('../fonts/UniNeue/unineuelight-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineuelight-italic.woff2') format('woff2'), url('../fonts/UniNeue/unineuelight-italic.woff') format('woff'), url('../fonts/UniNeue/unineuelight-italic.ttf') format('truetype'), url('../fonts/UniNeue/unineuelight-italic.svg#uni_neuelight_italic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineueregular.eot');
  src: url('../fonts/UniNeue/unineueregular.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineueregular.woff2') format('woff2'), url('../fonts/UniNeue/unineueregular.woff') format('woff'), url('../fonts/UniNeue/unineueregular.ttf') format('truetype'), url('../fonts/UniNeue/unineueregular.svg#uni_neueregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineueregular-italic.eot');
  src: url('../fonts/UniNeue/unineueregular-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineueregular-italic.woff2') format('woff2'), url('../fonts/UniNeue/unineueregular-italic.woff') format('woff'), url('../fonts/UniNeue/unineueregular-italic.ttf') format('truetype'), url('../fonts/UniNeue/unineueregular-italic.svg#uni_neueregular_italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/unineuethin.eot');
  src: url('../fonts/UniNeue/unineuethin.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/unineuethin.woff2') format('woff2'), url('../fonts/UniNeue/unineuethin.woff') format('woff'), url('../fonts/UniNeue/unineuethin.ttf') format('truetype'), url('../fonts/UniNeue/unineuethin.svg#uni_neuethin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'UniNeue';
  src: url('../fonts/UniNeue/UniNeueThin-Italic.eot');
  src: url('../fonts/UniNeue/UniNeueThin-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeue/UniNeueThin-Italic.woff2') format('woff2'), url('../fonts/UniNeue/UniNeueThin-Italic.woff') format('woff'), url('../fonts/UniNeue/UniNeueThin-Italic.ttf') format('truetype'), url('../fonts/UniNeue/UniNeueThin-Italic.svg#UniNeueThin-Italic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Light.eot');
  src: url('../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSansLight-Italic.eot');
  src: url('../fonts/OpenSans/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSansLight-Italic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSansLight-Italic.woff') format('woff'), url('../fonts/OpenSans/OpenSansLight-Italic.ttf') format('truetype'), url('../fonts/OpenSans/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-size: 1rem;
  line-height: 1.2;
  color: #663a2a;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #ffffff;
  letter-spacing: 0;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "UniNeue";
  font-weight: 300;
  line-height: 1;
  color: inherit;
}
h1,
.h1 {
  font-size: 63px;
  margin: 0 0 25px;
}
h2,
.h2 {
  font-size: 54px;
  margin: 0 0 25px;
}
h3,
.h3 {
  font-size: 45px;
  margin: 0 0 20px;
}
h4,
.h4 {
  font-size: 36px;
}
h5,
.h5 {
  font-size: 22px;
}
h6,
.h6 {
  font-size: 16px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before,
.row:after {
  display: table;
  content: '';
}
.row:after {
  clear: both;
}
.text-center {
  text-align: center;
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-white > * {
  color: #ffffff;
}
.text-lg {
  font-size: 24px;
}
.text-lg p {
  margin-bottom: 36px;
}
.text-md {
  font-size: 22px;
}
.text-md p {
  line-height: 28px;
  margin-bottom: 43px;
}
.subtitle-lg,
.subtitle {
  font-weight: 400;
  font-family: "UniNeue";
  text-transform: uppercase;
}
.subtitle-lg {
  font-size: 18px;
  line-height: 3;
  margin: 0;
}
.subtitle {
  font-size: 16px;
  line-height: 2;
  margin: 0;
}
.text-red {
  color: #ed1c24;
}
.text-blue {
  color: #1cbede;
}
.text-orange {
  color: #f36f21;
}
.text-green {
  color: #a9ca41;
}
.btn {
  font-family: "UniNeue";
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #ffffff;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.btn-block {
  display: block;
}
.btn-sm {
  font-size: 18px;
  padding: 6px 15px;
}
.btn-md {
  font-size: 20px;
  padding: 7px 15px;
}
.btn-lg {
  font-size: 22px;
  padding: 8px 13px;
}
.btn-blue {
  background-color: #1cbede;
}
.btn-red {
  background-color: #ed1c24;
}
.btn-green {
  background-color: #a9ca41;
}
.btn-orange {
  background-color: #f36f21;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
  background-color: #006a66;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  background-color: #014341;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
p,
ul,
ol {
  margin: 0 0 30px;
}
.clearfix:after {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}
img {
  margin: auto;
  max-width: 100%;
  display: block;
  height: auto;
}
.main-width {
  max-width: 1440px;
  padding: 0 45px;
  margin: auto;
}
.main-padding {
  padding: 0 50px;
}
.small-padding {
  padding: 0 40px;
}
.row60 {
  margin-left: -60px;
  margin-right: -60px;
}
.row60 > * {
  padding-left: 60px;
  padding-right: 60px;
}
.row100 {
  margin-left: -100px;
  margin-right: -100px;
}
.row100 > * {
  padding-left: 100px;
  padding-right: 100px;
}
.form-control {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #663a2a;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #663a2a;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #663a2a;
}
.form-control::-webkit-input-placeholder {
  color: #663a2a;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.section-lg {
  padding-top: 113px;
  padding-bottom: 119px;
  margin-bottom: 45px;
}
.section-md {
  margin-bottom: 30px;
  padding-top: 36px;
  padding-bottom: 17px;
}
.section-sm {
  min-height: 450px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.column-text {
  padding-top: 44px;
  padding-bottom: 77px;
}
.column-text img {
  margin: 24px auto 0;
}
.read-more {
  font-size: 16px;
  color: #ed1c24;
  font-family: 'UniNeue';
  font-weight: 400;
  margin-top: -10px;
}
.input-button {
  position: relative;
}
.input-button button {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  height: auto;
  width: 36px;
  border: none;
  background: #fff;
  font-size: 14px;
}
.main-nav {
  font-family: "UniNeue";
  font-weight: 400;
  font-size: 20px;
  float: left;
}
.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav ul li {
  float: left;
}
.main-nav ul li.current a {
  color: #ed1c24;
}
.main-nav ul li a {
  padding: 10px 20px;
  color: #663a2a;
}
.main-nav ul li a:hover {
  color: rgba(237, 28, 36, 0.8);
  text-decoration: none;
}
.main-nav:after {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}
.main-header-width {
  padding: 23px 25px;
  max-width: 1440px;
  margin: auto;
  position: relative;
  z-index: 2;
  height: 70px;
}
.main-header-width:after {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}
.logo {
  float: left;
  margin: -7px 29px -8px 19px;
}
.part-right-header {
  font-family: "UniNeue";
  font-weight: 400;
  font-size: 15px;
  float: right;
  padding-top: 4px;
}
.cart-link {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin: -11px 15px -11px 22px;
}
.cart-link:hover,
.cart-link:focus {
  text-decoration: none;
}
.sign-in-link {
  display: inline-block;
}
.sign-in-link .icon {
  margin: -6px 8px 0 10px;
  font-size: 25px;
  display: inline-block;
  vertical-align: top;
}
.sign-in-link:hover,
.sign-in-link:focus {
  text-decoration: none;
}
.sign-in-link:hover span,
.sign-in-link:focus span {
  text-decoration: underline;
}
.dropdown-language-title {
  height: 70px;
  margin-top: -27px;
  padding: 27px 15px;
  cursor: pointer;
}
.dropdown-language-content {
  display: none;
  background: #663a2a;
  color: #e2dacf;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  min-width: 100px;
}
.dropdown-language-content ul {
  padding: 12px 5px;
  margin: 0;
  list-style: none;
}
.dropdown-language-content li {
  padding: 2px 15px;
  cursor: pointer;
}
.dropdown-language-content li:hover {
  background: #e2dacf;
  color: #663a2a;
}
.dropdown-language {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.dropdown-language.open .dropdown-language-title {
  background: #663a2a;
  color: #e2dacf;
}
.dropdown-language.open .dropdown-language-content {
  display: block;
}
.main-footer {
  background: #663a2a;
  color: #c4ada5;
}
