.main-nav{
	font-family: "UniNeue";
	font-weight: 400;
	font-size: 20px;
	float: left;
	
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			float: left;
			&.current, &.current-hover {
				a{
					color: rgba(237, 28, 36, 1.0);
				}
			}
			a{
				padding: 10px 20px;
				color: @brown;
				&:hover, &:focus{
					color: rgba(237, 28, 36, 1.0);
					text-decoration: none;
				}
			}
		}
	}
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
}
.main-header {
	position: relative;
}
.main-header-width {
	padding: 23px 25px;
	max-width: 1440px;
	margin: auto;
	position: relative;
	z-index: 2;
	height: 70px;
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
}
.logo {
	float: left;
	margin: -7px 29px -8px 19px;
}
.part-right-header {
	font-family: "UniNeue";
	font-weight: 400;
	font-size: 15px;
	float: right;
	padding-top: 4px;
}

.cart-link {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	width: 40px;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	margin: -11px 15px -11px 22px;
}
.cart-link:hover, .cart-link:focus {
	text-decoration: none;
}
.sign-in-link {
	display: inline-block;
	.icon {
		margin: -6px 8px 0 10px;
		font-size: 25px;
		display: inline-block;
		vertical-align: top;
	}
}
.sign-in-link:hover, .sign-in-link:focus {
	text-decoration: none;
	span {
		text-decoration: underline;
	}
}
.dropdown-language-title {
	height: 70px;
	margin-top: -27px;
	padding: 27px 15px;
	cursor: pointer;
}
.dropdown-language-content {
	display: none;
	background: #663a2a;
	color: #e2dacf;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1;
	min-width: 100px;
	ul {
		padding: 12px 5px;
		margin: 0;
		list-style: none;
	}
	li {
		padding: 2px 15px;
		cursor: pointer;
		&:hover {
			background: #e2dacf;
			color: #663a2a;
		}
	}
}

.dropdown-language {
	display: inline-block;
	position: relative;
	z-index: 2;
	&.open {
		.dropdown-language-title {
			background: #663a2a;
			color: #e2dacf;
		}
		.dropdown-language-content {
			display: block;
		}
	}
}

.products-menu {
	position: absolute;
	top: 100%;
	display: none;
	left: 0;
	background: #fff;
	width: 100%;
	border-top: 1px solid #eae8e2;
	z-index: 2;
	font-size: 16px;
	font-family: "UniNeue";
	font-weight: 400;
	padding-bottom: 15px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	p {
		margin: 0;
	}
	a:hover, a:focus {
		color: #ed1c24;
		text-decoration: none;
	}
}
.product-menu-item {
	text-align: center;
}
.products-width {
	max-width: 980px;
	margin: auto;
	padding: 0 15px;
}
.img-product-menu {
	margin: 7px 0;
	height: 87px;
	img {
		margin: auto;
	}
}
.highlight {
	padding-top: 20px;
	padding-left: 24px;
	p {
		margin: 0 0 9px 0;
	}
}
.list-style-color {
	li {
		padding-left: 20px;
		padding-bottom: 6px;
		position: relative;
		&:after {
			content: " ";
			display: block;
			height: 11px;
			width: 11px;
			border: 2px solid #ed2129;
			position: absolute;
			border-radius: 100%;
			left: 0;
			top: 3px;
		}
		&:nth-child(2) {
			&:after {
				border-color: #21c0df;
			}
		}
		&:nth-child(3) {
			&:after {
				border-color: #a9ca41;
			}
		}
	}
}
.menu-button {
	display: none;
}
.menu-mobile {
	display: none;
}

@media (max-width: 991px) {
	.main-header-width {
		padding: 23px 0;
	}
	.main-nav ul li a {
		padding: 10px;
	}
}
@media (max-width: 767px) {
	.main-nav {
		display: none;
	}
	.dropdown-language {
		display: none;
	}
	.sign-in-link {
		display: none;
	}
	.main-header-width {
		height: 60px;
	}
	.cart-link {
		margin: -17px 9px -11px 22px;	
		font-size: 22px;
	}
	.logo {
		position: absolute;
		top: 0;
		left: 50%;
		width: 120px;
		margin-left: -60px;
		margin-top: 16px;
	}
	.menu-button {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 60px;
		padding: 17px 15px 0;
		cursor: pointer;
		i {
			background: #663a2a;
			display: block;
			height: 1px;
			margin: 5px 0;
			width: 25px;
		}
	}
	.main-wrap {
		overflow: hidden;
	}
	.menu-mobile {
		position: absolute;
		right: 100%;
		background: #eae6e0;
		top: 0;
		display: none;
		font-family: 'UniNeue';
		font-weight: 400;
		width: 266px;
	}
	.menu-mobile-open {
		.wrapper {
			position: relative;
			margin-left: 266px;
			width: 100%;
		}
		.menu-button {
			.rotate(90deg);
		}
		.menu-mobile {
			display: block;
		}
	}

	.menu-mobile-top {
		background: #663a2a;
		height: 60px;
		font-size: 16px;
		color: #e2dace;
		text-transform: uppercase;
		padding: 20px 15px;		
	}

	.menu-mobile-content {
		padding: 0 15px;
		h6 {
			color: #9c8e89;
			font-size: 13px;
			margin: 0;
			font-family: 'UniNeue';
			font-weight: 400;
			margin: 18px 0 15px;
		}
	}
	.menu-mobile-link {
		margin-bottom: 26px;
		font-size: 16px;
	}
	.line-mobile {
		height: 1px;
		background: #c7b8af;
		margin: -8px -15px 18px;
	}
	.menu-mobile-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #663a2a;
		text-transform: uppercase;
		padding: 20px 15px;
		color: #e2dacf;
		z-index: 2;
		font-size: 16px;
		.active {
			color: #ffffff;
		}
		a {
			display: block;
			margin-bottom: 25px;
		}
	}
	
}