.nain-nav{
	font-family: "UniNeue";
	font-weight: 400;
	font-size: 20px;
	
	ul{
		list-style: none;
		li{
			float: left;
			&.current{
				a{
					color: rgba(237, 28, 36, 1.0);
				}
			}
			a{
				padding: 10px 20px;
				color: @brown;
				&:hover{
					color: rgba(237, 28, 36, 0.8);
					text-decoration: none;
				}
			}
		}
	}
}
.main-header{
	padding: 16px 0 15px;
}