@brown: #663a2a;
.section-lg {
	padding-top: 113px;
	padding-bottom: 119px;
	margin-bottom: 45px;
}
.section-md {
	margin-bottom: 30px;
	padding-top: 36px;
	padding-bottom: 17px;
}
.section-sm {
	min-height: 450px;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.column-text {
	padding-top: 44px;
	padding-bottom: 77px;
	img {
		margin: 24px auto 0;
	}
}
.read-more {
	font-size: 16px;
	color: #ed1c24;
	font-family: 'UniNeue';
	font-weight: 400;
	margin-top: -10px;
}
.input-button {
	position: relative;
	button {
		position: absolute;
		top: 2px;
		bottom: 2px;
		right: 2px;
		height: auto;
		width: 36px;
		border: none;
		background: #fff;
		font-size: 14px;
	}
}


@media (max-width: 1024px) {
	
}
@media (max-width: 767px){
	
}